.projects-container {
  background-color: lightgrey;
}

.salaries-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid grey;
}

.swapi-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid grey;
}

.headcount-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid grey;
}

.movie-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid grey;
}




.salaries-image {
  background-image: url('../../assets/salaries.png');
  width: 70%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

.salaries-info,
.swapi-info,
.headcount-info,
.movie-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}


.swapi-image {
  background-image: url('../../assets/swapi.png');
  height: 500px;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
}

.headcount-image {
  background-image: url('../../assets/headcount.png');
  height: 500px;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
}

.movie-container {
  width: 100%;
  border-bottom: 2px solid grey;
}

.movie-image {
  background-image: url('../../assets/movie.png');
  height: 500px;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
}

.built-with {
  font-weight: bold;
}

.projects-title {
  padding-top: 30px;
  font-size: 50px;
  text-decoration: underline;
}

.salaries,
.swapi,
.headcount,
.movie {
  margin-bottom: 10px;
}


@media (max-width: 992px) {
  .salaries-info,
  .swapi-info,
  .headcount-info,
  .movie-info
     {
        width: 90%;
    }
}

@media (max-width: 700px) {
  .salaries-info,
  .swapi-info,
  .headcount-info,
  .movie-info {
    width: 98%;
    margin-bottom: -250px;
  }
}
